@import "../css/reset.css";

:root {
  --white: #ffffff;
  --font-size: 16px;
  --primary: #0033FF;
  --radius-button: 8px;
}

body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: #121214;
  color: var(--white);
  a{
    text-decoration: none;
  }
}
.header{
  margin-top: 18px;

  .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    .header__inner{
      display: flex;
      justify-content: space-between;
    }
  }
  nav{
    display: flex;
    align-items: center;
    gap: 30px;

    ul{
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;
      li{
        a{
          color: #A6A8AD;
          font-size: 16px;
          line-height: 24px;
          transition: color 0.3s ease;

          &:hover{
            color: #8257e6;
          }
        }
      }
    }
  }
  &__actions{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: var(--radius-button);
    font-size: 16px;
    line-height: 24px;
    transition: background-color 0.3s ease;

    &:hover{
      background-color: #3c4efc;
    }
    &.header__btn__text{
      border:none;
      background-color: transparent;
      color: #A6A8AD;
      &:hover{
        color: #8257e6;
      }
    }
  }
}


